<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="nacl-gvc.ZPM">
    <Module>
      <Name>nacl-gvc</Name>
	  <Description>Use NativeAPI for global view</Description> 
      <Version>0.0.3</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="nacl.PKG"/>
      <Resource Name="dc.MultiDv.GBL"/>
    </Module>
  </Document>
</Export>

